.Header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 150px;
    height: 80px;
    font-size: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.companytitle{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.3rem;
    padding-top: 1rem;
}
.companyname{
   position: relative;
   bottom: 0.2rem;
}
.menu{
    padding-top: 1.1rem;
    display: flex;
    gap: 1rem;
}

@media (max-width:1028px) {
    .Header{
        padding: 10px 30px;
        flex-direction: row-reverse;
    }
    .companytitle{
        margin-right: 7.5rem;
        margin-top: 0.2rem;
    }
}